.sideBar
  .sideBar__header
    .sideBar__userInfo
      %p.userInfo__userName
        = current_user.name
      %ul.userInfo__menu
        %li<
          = link_to edit_user_path(current_user), title: 'ユーザー情報を編集します。' do
            %i.fas.fa-user-edit
        %li<
          = link_to new_group_path, title: 'チャットグループを新規作成します。' do
            %i.fas.fa-plus-square
  .sideBar__groupSelector
    .groupSelector__groups
      = render partial: 'grouplist'
.mainView
  .mainView__header
    .header__groupInfo
      %p.groupInfo__groupName trial
      %ul.groupInfo__members
        Member：
        %li.groupInfo__member< hoge999
        %li.groupInfo__member< 野生爆弾
    = link_to edit_group_path(1), title: 'チャットグループを編集します。' do
      .header__editButton Edit
  .mainView__chatSpace
    = render partial: 'chat'
  .mainView__chatSender
    %form.chatSender__form
      .form__input
        %input.form__inputBox{placeholder: 'type a message'}
        %label.form__label
          %span.form__fileSelectButton
            %i.fas.fa-images{title: 'アップロードする画像を選択してください。'}
          %input.form__file{type: 'file'}
      %input.form__submitButton{type: 'submit', value: 'Send'}

